{% extends "base.html" %}

{% block title %}
LocalHub - {{ file_name }}
{% endblock %}

{% block content %}

<div class="file-header">

    <div class="breadcrumb">

        <a href="{{ url_for('dashboard') }}">
            Repositories
        </a>

        <span> / </span>

        <span>{{ file_name }}</span>

    </div>

</div>


<div class="code-container">

    <div class="code-header">

        <span>{{ file_name }}</span>

        <button
            class="copy-btn"
            onclick="copyContent()"
        >
            Copy
        </button>

    </div>


    <pre><code id="copy-text">{{ content }}</code></pre>

</div>


<script>

async function copyContent() {

    const content =
        document.getElementById("copy-text").innerText;

    try {

        await navigator.clipboard.writeText(content);

        alert("Copied!");

    } catch (error) {

        console.error("Copy failed:", error);

    }

}

</script>

{% endblock %}