{% extends "base.html" %}
{% block title %}Local Hub - Repo: {{ repo_name }}{% endblock %}
{% block content %}
<div class="file-header">
    <div class="breadcrumb">
        <a href="{{ url_for('home') }}">Repositories</a>
        <i class="ri-arrow-right-s-line"></i>
        <span>{{ repo_name }}</span>
    </div>
</div>

<div class="repo-list">
    {% for item in files_and_dir %}
    <div class="repo-item">
        <i class="repo-icon ri-folder-6-line"></i>
        <a href="{{ url_for('repo_view', repo_path=item) }}" class="repo-link">{{ item }}</a>
    </div>
    {% else %}
    <div class="empty-state">
        <i class="ri-folder-open-line" style="font-size: 3rem; margin-bottom: 1rem;"></i>
        <p>This directory is empty</p>
    </div>
    {% endfor %}
</div>
{% endblock %}